html {
    background-color: var(--background);
    font-size: larger;
}

body {
    background-color: var(--background);
    width: auto;
    height: 100%;
    color: var(--text);
}

br {
    width: 100%;
}
.scrollbar {
    overflow-y: scroll;
    /* Add the ability to scroll */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

header {
    display: flex;
    position: sticky;
    background-color: var(--background);
    border-color: var(--secondary);
    display: block;
    position: sticky;
    text-align: center;
    text-justify: auto;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100px;
}

.border {
    border-radius: 3.96rem;
    -webkit-border-radius: 3.96rem;
    -moz-border-radius: 3.96rem;
    -ms-border-radius: 3.96rem;
    -o-border-radius: 3.96rem;
}

.logo {
    background-color: var(--background);
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 50px;
}

.logo img {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.logo h1 {
    background-color: var(--background);
    color: var(--text);
    font-family: var(--font-h1);
    font-weight: 400;
    text-align: center;
    text-justify: auto;
    text-shadow: .2rem .2rem 1rem var(--primary-alt);
    font-size: xxx-large;
    line-height: 60%;
    color: var(--text);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    outline: 0.16rem inset var(--primary);
    box-shadow: 0rem 0rem 0.46rem 0rem var(--secondary);
}

.nav {
    background-color: var(--background-alt);
    display: flex;
    position: sticky;
    text-align: center;
    text-justify: auto;
    justify-content: center;
    border: 0.096rem inset var(--primary);
    box-shadow: 0rem 0rem 0.46rem 0rem var(--secondary);
}

#nav-menu {
    top: 0.96rem;
    display: flex;
    position: sticky;
    text-align: center;
    text-justify: auto;
    justify-content: center;
    background-color: var(--background-alt);
    overflow: auto;
    border-radius: 3.96rem;
    -webkit-border-radius: 3.96rem;
    -moz-border-radius: 3.96rem;
    -ms-border-radius: 3.96rem;
    -o-border-radius: 3.96rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.33%;
    width: fit-content;
    z-index: auto;
}

.nav .active {
    background-color: var(--primary);
    color: var(--secondary);
    border: 0.096rem inset var(--secondary);
    box-shadow: 0rem 0rem 00.096rem 0.096rem var(--primary);
}

.nav .active:hover {
    border: 0.096rem outset var(--secondary);
    background-color: var(--primary-alt);
    color: var(--text-alt);
    box-shadow: 0rem 0rem 00.096rem 0.096rem var(--primary);
}

.nav .active:active {
    background-color: var(--primary);
    color: var(--secondary);
    outline-style: inset;
    box-shadow: 0rem 0rem 00.096rem 0.096rem var(--secondary);
}

.nav a {
    float: left;
    display: block;
    color: var(--text);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    border-radius: 3.96rem;
    -webkit-border-radius: 3.96rem;
    -moz-border-radius: 3.96rem;
    -ms-border-radius: 3.96rem;
    -o-border-radius: 3.96rem;
}

.nav a:hover {
    border: 0.096rem outset var(--primary);
    background-color: var(--secondary);
    color: var(--text-alt);
    box-shadow: 0rem 0rem 00.096rem 0.096rem var(--primary);
}

.nav a:active {
    background-color: var(--primary);
    color: var(--secondary);
    outline-style: inset;
}

.nav .icon {
    display: none;
    padding: 1.96rem;
}

.nav a:focus {}


section {
    justify-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    display: box;
    box-sizing: border-box;
    font: var(--font);
    background-color: var(--background-alt);
    scroll-padding-bottom: 0.096rem;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.96rem;
    padding-left: 0.96rem;
    padding-left: 0.96rem;
    width: 69%;
    text-align: center;
    overflow: hidden;
    z-index: auto;
}

footer {
    background-color: var(--background);
    position: bottom;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.credits {
    font-size: xx-small;
    color: var(--text);
    width: 100%;
    display: box;
    position: fixed;
    bottom: -0.096rem;
    border: 0.096rem solid var(--secondary);
    border-top-left-radius: 9rem;
    border-top-right-radius: 9rem;
    background-color: var(--background-alt);
    box-shadow: 0rem 0rem 00.96rem 0.096rem var(--primary);
}

.credits p {
    color: var(--secondary);
    text-shadow: .2rem .2rem 1rem var(--primary-alt);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text);
    font-family: var(--font-h1);
    font-weight: 400;
    text-shadow: .2rem .2rem 1rem var(--primary);
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.96rem;
    padding-right: 0.96rem;
    text-align: center;
    text-justify: auto;
}

p {
    justify-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    display: box;
    box-sizing: border-box;
    font: var(--font);
    color: var(--text);
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.66rem;
    padding-right: 0.66rem;
    text-align: center;
    text-justify: center;
    line-height: 1.26rem;
    text-shadow: 0rem .026rem 0.026rem var(--primary-alt);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.icon {
    padding: 0.96rem;
}
#contact-menu {
    margin-top: 120px;
    text-align: center;
    text-justify: center;
    justify-content: center;
    background-color: var(--background-alt);
    overflow: auto;
    border-radius: 3.96rem;
    -webkit-border-radius: 3.96rem;
    -moz-border-radius: 3.96rem;
    -ms-border-radius: 3.96rem;
    -o-border-radius: 3.96rem;
    margin-left: auto;
    margin-right: auto;
    width: 69%;
    z-index: auto;
}
section a{
    width: 100%;
    justify-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    display: box;
    box-sizing: border-box;
    color: var(--text);
    padding: 14px 16px;
    margin-left: auto;
    margin-right: auto;

    font-size: 16px;
    border-radius: 2.96rem;
    -webkit-border-radius: 3.96rem;
    -moz-border-radius: 3.96rem;
    -ms-border-radius: 3.96rem;
    -o-border-radius: 3.96rem;
}

section a:hover {
    border: 0.096rem outset var(--primary);
    background-color: var(--secondary);
    color: var(--text-alt);
    box-shadow: 0rem 0rem 00.096rem 0.096rem var(--primary);
}

section a:active {
    background-color: var(--primary);
    color: var(--secondary);
    outline-style: inset;
}