:root {
    --background: #f7f7f7;
    --background-alt: #fff;
    --text: #333;
    --text-alt: #fff;
    --primary: #c0392b;
    --primary-alt: #e74c3c;
    --secondary: #ccc;
    --font: 16px/1.5 'Roboto', sans-serif;
    --font-h1: 32px/1.5 'Roboto', sans-serif;
    --border-radius: 3.14rem;
  }
  
  * {
    margin: 0 auto;
    padding: 0;
    background: none;
  }
  
  html {
    background-color: var(--background);
    font-size: 1.5rem;
  }
  
  body {
    background-color: var(--background);
    width: 100%;
    color: var(--text);
    overflow-y: scroll;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--text);
    font-family: var(--font-h1);
    font-weight: 400;
    text-shadow: 0 .3rem .9rem var(--primary);
    text-align: center;
  }
  
  p {
    font: var(--font);
    color: var(--text);
    text-align: center;
    line-height: 1;
    text-shadow: .03rem .003rem .2rem var(--secondary);
  }
  
  .logo-img {
    position: fixed;
    margin-top: auto;
    top: 12px;
    left: 0;
    right: 326px;
    z-index: 999;
  }
  
  header {
    display: block;
    position: sticky;
    text-align: center;
    justify-content: center;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .section-divider {
    margin-top: 170px;
    margin-bottom: 140px;
  }
  
  .float-right {
    float: right;
  }
  
  .float-left {
    float: left;
  }
  
  .text-center {
    text-align: center;
    float
  