---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <body>
        <Header />
        <section class="corner-round border">
            <img class="div-banner" src="src/assets/images/branding/banner.png" />
            <div id="about">
                <h2>
                    <i class="fa fa-hat-wizard"></i> Mission <i
                        class="fa-solid fa-magic"></i>
                </h2>
                <p>
                    Our mission is to provide our clients with high-quality IT
                    and electronics services that meet their needs and exceed
                    their expectations. We believe that customer satisfaction is
                    of utmost importance, and strive to achieve it through
                    cost-effective solutions that are tailored to each client's
                    unique requirements. We are committed to delivering reliable
                    and efficient services that keep our clients' businesses
                    running smoothly, while maintaining a focus on quality and
                    innovation.
                </p>
            </div>
        </section>
        <Footer />
    </body>
</html>
