---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";
import ContactForm from "../components/ContactForm.svelte";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION} />
<Section>
  <div id="contact">
    <h2 class="section-heading">Connect With Us</h2>
    <article class="contact-description">
      <br />
      <p>
        We're here to assist you. Reach out to us for any inquiries or
        information. Our dedicated team is ready to provide the support you
        need.
      </p>
    </article>
    <br />
    <article>
      <p>
        To see the most up to date information about your work request status
        and repairs, please <a href="login">login</a>.
      </p>
    </article>
    <article>
      <ContactForm />
    </article>
    <br />
    <article>
      <div class="onclick-contact">
        <a href="mailto:MagicPuddle@pm.me"><i class="fa fa-envelope"></i></a>
        <a href="SMS:000-000-0000"><i class="fa fa-sms"></i></a>
        <a href="tel:000-000-0000"><i class="fa fa-phone"></i></a>
      </div>
    </article>
  </div>
</Section>

<style></style>
