---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  <body>
    <Header />
  <div id="contact">

    <section class="section corner-round border">
      <h1><i class="fa fa-address-book"></i> Contact</h1>
        <p>If you require further information or have any queries, please do not hesitate to get in touch with us.</p>
        <br>
        <p><a href="mailto:MagicPuddle@pm.me"><i class="fa fa-envelope"></i> mail</a> | <a href="SMS:000-000-0000"><i class="fa fa-sms"></i> txt</a> | <a href="tel:000-000-0000"><i class="fa fa-phone"> </i> phone</a></p>
      <br>
    </section>
  </div>
  <br>

<Footer />
</body>
<!-- Script section -->
<script src="https://kit.fontawesome.com/90888f9a4c.js" crossorigin="anonymous"></script>
</html>
