---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  <body>
    <Header />
    <section class="corner-round border">
      <img class="div-banner" src="/banner.png" />
      <div id="about">
        <h2>
          <i class="fa-regular fa-address-book"></i> Contact <i
            class="fa-regular fa-calendar-check"></i>
        </h2>
        <p>
          If you need any more information or have any questions, please feel
          free to contact us. We are here to assist you and provide the support
          you may require.
        </p>
        <br />
        <p>
          <h1>
            <a href="mailto:MagicPuddle@pm.me"><i class="fa fa-envelope"></i></a
            >
          </h1>
          <!-- | <a href="SMS:000-000-0000"><i class="fa fa-sms"></i></a> 
            | <a href="tel:000-000-0000"><i class="fa fa-phone"></i></a>
        -->
        </p>
      </div>
    </section>
    <Footer />
    <style>
     
    </style>
  </body>
</html>
