---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  <body>
    <Header />
    <section class="corner-round border">
      <img class="div-banner" src="banner.png" />
      <div id="about">
        <h2><i class="fa-regular fa-address-book"></i> Contact <i class="fa-regular fa-calendar-check"></i></h2>
        <p>
          If you require further information, please do not hesitate to get in
          touch with us.
        </p>
        <br />
        <p>
          <a href="mailto:MagicPuddle@pm.me"><i class="fa fa-envelope"></i></a> |
          <a href="SMS:000-000-0000"><i class="fa fa-sms"></i></a> | <a
            href="tel:000-000-0000"><i class="fa fa-phone"></i></a>
        </p>
      </div>
    </section>
    <Footer />
  </body>
</html>
