---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import MyReactComponent from '../components/interactive-component.jsx';
---

<!DOCTYPE html>
<html lang="en">
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  <body>
    <Header />
    <section class="corner-round border">
      <img class="div-banner" src="/banner.png" />
      <div id="about">
        <h2><i class="fa-regular fa-hat-wizard"></i> Nutrition Facts <i class="fa-solid fa-magic"></i></h2>
        <p>
          MagicPuddle offers comprehensive managed technical solutions and
          expert support to both individuals and organizations. Our services are
          designed to help our clients achieve their technology goals and
          optimize their systems, from troubleshooting and maintenance to
          advanced IT strategy and planning. With a focus on personalized
          service and proactive solutions, we are committed to delivering the
          highest level of technical support and expertise to ensure our
          clients' success.
        </p>
      </div>
    </section>
    <Footer />
  </body>
</html>

<style>
@media (max-width: 640px) {
    .div-banner {
        max-width: 100%;
    }
}

@media (min-width: 640px) {
  .div-banner {
        max-width: 100%;
    }
}

.corner-round {
          border-radius: 7rem;
}

</style>