---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<html>
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

  <body class="bg-gray-100">
    <Header />

    <section class="corner-round border p-4">
      <img class="div-banner" src="banner.png" alt="Banner" />

      <div id="about">
        <h2 class="flex items-center">
          <i class="far fa-hat-wizard mr-2"></i>
          Nutrition Facts
          <i class="fas fa-magic ml-2"></i>
        </h2>
        <p class="mt-4">
          MagicPuddle offers comprehensive managed technical solutions and
          expert support to both individuals and organizations. Our services are
          designed to help our clients achieve their technology goals and
          optimize their systems, from troubleshooting and maintenance to
          advanced IT strategy and planning. With a focus on personalized
          service and proactive solutions, we are committed to delivering the
          highest level of technical support and expertise to ensure our
          clients' success.
        </p>
      </div>
    </section>

    <Footer />
  </body>
</html>

<style>
@media (max-width: 640px) {
    .div-banner {
        max-width: 100%;
    }
}

@media (min-width: 640px) {
    .corner-round {
        border-radius: 8px;
    }
}
</style>