---
import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout />
<!-- <LatestBlogPosts /> -->
  <section class="corner-round border">
    <img class="div-banner" src="/banner.png" alt="Banner" />
    <div>
      <h2>
        <i class="fa-regular fa-hat-wizard"></i> Nutrition Facts <i
        class="fa-solid fa-magic"></i>
      </h2>
      <p>
        MagicPuddle offers comprehensive managed technical solutions and expert support to both individuals and organizations. Our services are designed to help clients achieve their technology goals and optimize their systems, from troubleshooting and maintenance to advanced IT strategy and planning. With a focus on personalized service and proactive solutions, we are committed to delivering the highest level of technical support and expertise to ensure our clients' success.
      </p>
    </div>
  </section>
</BaseLayout>
