---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <body>
        <Header />
        <section class="corner-round border">
            <img class="div-banner" src="banner.png" />
            <div id="about">
                <h2>
                    <i class="fa fa-tv"></i> Products <i class="fa-regular fa-server"></i>
                </h2>
                <p>
                    At MagicPuddle, we offer a wide range of
                    customized computing solutions. Whether you're in need of
                    brand new, gently used, or professionally refurbished
                    computers, devices, or parts, we've got you covered. Our
                    dedicated team is committed to delivering high-quality
                    products that meet your specific requirements, ensuring you
                    have the perfect computing solution tailored to your needs.
                </p>
            </div>
        </section>
        <Footer />
    </body>
</html>
