---
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";
import Login from "../components/Login.astro";
import RegistraionForm from "../components/RegistraionForm.svelte";
---

<BaseLayout />
<br />
<Section>
  <div id="register">
    <h2>Create An Account</h2>
    <br />
    <p>To gain access to all our services please create an account and login.</p>
  <RegistraionForm />
  </div>
<br />
<div id="login">
  <Login />
  <br />
  </div>
</Section>