---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts"
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";
import RegistrationForm from "../components/RegistrationForm.svelte";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION} />
<br />
<Section>
  <div id="register">
    <h2>Create An Account</h2>
    <br />
    <p>
      To gain access to services, create an account or 
      <a href="login">login</a>.
    </p>
    <RegistrationForm />
  </div>
</Section>
