---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION} />
<Section>
  <div id="services">
    <h2>Discover Our Comprehensive Services</h2>
    <p>At MagicPuddle, we're not just about fixing devices; we're about creating a tech-savvy community and offering innovative solutions to enhance your digital experience.</p>
    <br />
    <article>
      <h3>Computer Repair and Maintenance</h3>
      <p>
        Is your computer acting up? Our expert technicians are at your service. We specialize in diagnosing and fixing hardware and software issues, so you can get back to work (or play) without a hitch.
      </p>
    </article>
    <br />
    <article>
      <h3>Mobile Repair Service</h3>
      <p>
        We understand that your devices are your lifelines. That's why we bring our repair expertise right to your doorstep. Our mobile repair service ensures you don't have to go far to get your gadgets back in working order.
      </p>
    </article>
    <br />
    <article>
      <h3>Online Repair Services</h3>
      <p>
        No matter where you are, MagicPuddle is just a click away. We can work remotely on software issues. Ship your devices to us for professional repair, and we'll have them back to you in no time.
      </p>
    </article>
    <br />
    <article>
      <h3>Expert Consultations</h3>
      <p>
        Not sure which computer to buy? Need advice on optimizing your home office setup? Our consultants are here to provide expert guidance tailored to your unique needs.
      </p>
    </article>
    <br />
    <article>
      <h3>Content and Education</h3>
      <p>
        We're passionate about technology and we want to share that passion with you. Explore our video tutorials, live streams, and online courses to learn more about the gadgets you love.
      </p>
    </article>
    <br />
    <article>
      <h3>Community and Collaboration</h3>
      <p>
        Join our online community, where tech enthusiasts like you share their experiences, seek assistance, and stay updated on the latest trends. We also collaborate with industry experts to bring you valuable insights and exciting content.
      </p>
    </article>
    <br />
    <article>
      <h3>Sustainable Tech Solutions</h3>
      <p>
        We're committed to sustainable technology. That's why we repurpose old parts, offer refurbished devices, and donate to charitable organizations to reduce e-waste and bridge the digital divide. Join us in making a positive impact on our planet.
      </p>
    </article>
    <br />
  </div>
</Section>
