---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <body>
        <Header />
        <section class="corner-round border">
            <div id="about">
                <img class="div-banner" src="banner.png" />
                <h2><i class="fa fa-computer"></i> Products</h2>
                <p></p>
            </div>
        </section>
        <Footer />
    </body>
</html>
