---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  <body>
    <Header />
    <section class="corner-round border">
      <img class="div-banner" src="/banner.png" />
      <div id="techshop">
        <h2>
          <i class="fa fa-shop"></i> Tech Shop <i class="fa-regular fa-hammer"
          ></i>
        </h2>
        <article>
        <p>
          MagicPuddle Tech Shops, specialize in the creation, diagnosis, repair,
          and maintenance of computers, peripherals, and a range of electronic
          equipment and software. Our highly skilled technicians are equipped
          with the latest tools and technology to handle a wide variety of
          diagnostics, repairs, and other magic to keep your devices running at
          their best. Whether you need a quick fix or a more comprehensive
          solution, our team is dedicated to providing you with the highest
          level of service and expertise to meet your technical needs.
        </p>
      </article>
      <br />
      </div>
    </section>
    <Footer />
  </body>
  <style>

  </style>
</html>
