---
const today = new Date();
---

<footer id="footer">
	<div>
		<p>
			&copy; {today.getFullYear()} MagicPuddle. All rights reserved. | Powered by <a href="https://www.github.com/MagicPuddle/godgas">GodGas</a>
		</p>
	</div>
</footer>

<style>
	footer {
		padding: 0px;
		text-align: center;
	}
</style>
