---
const today = new Date();
---

<footer>
  <div class="credits">
    <p>
      &copy; {today.getFullYear()} MagicPuddle. All rights reserved. | Powered by
      <a href="https://www.github.com/MagicPuddle/godgas">GodGas</a>
    </p>
  </div>
</footer>

<style>
  footer {
    background-color: var(--background);
    position: fixed;
    width: 100%;
    font-size: 9px;
    padding-left: 1rem;
    padding-right: 1rem;
    bottom: 0;
  }

  .credits {
    position: fixed;
    height: 26px;
    color: var(--text);
    width: 100%;
    display: flex;
    bottom: 0;
    border: 0.09rem solid var(--secondary);
    border-top-right-radius: 3.14rem;
    border-top-left-radius: 3.14rem;
    background-color: var(--background-alt);
    box-shadow: 0 0 0.9rem 0.096rem var(--primary);
    border-bottom: 0;
    left: -1px;
    right: -1px;
    font-size: 9px;
  }

  .credits p {
    color: var(--secondary);
    text-shadow: 0.2rem 0.2rem 1rem var(--primary-alt);
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 9px;
  }
</style>
