---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
	<nav class="nav nav-menu" id="nav-menu">
		<img class="logo-img" src="/logo.svg" />
		<h1>{SITE_TITLE}</h1>
		<HeaderLink href="/"><i class="fa-regular fa-igloo"></i></HeaderLink>
		<!-- <HeaderLink href="/blog"><i class="fa-regular fa-newspaper"></i></HeaderLink> -->
		<HeaderLink href="/techshop"><i class="fa-regular fa-shop"></i></HeaderLink>
		<HeaderLink href="/products"><i class="fa-regular fa-laptop"></i></HeaderLink>
		<HeaderLink href="/about"><i class="fa-regular fa-address-card"></i></HeaderLink>
		<HeaderLink href="/contact"><i class="fa-regular fa-comments"></i></HeaderLink>
	</nav>
</header>

<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
