<h2>Existing Users</h2>
  <br />
  <div class="sso-login">
  <button onclick="loginWithGitHub()">GitHub</button>
  <button onclick="loginWithApple()">Apple</button>
  <button onclick="loginWithGoogle()">Google</button>
</div>
  <br />