---
// src/layouts/BaseLayout.astro
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SocialLinks from "../components/SocialLinks.astro";
import { LOGO, SITE_TITLE } from "../consts";

const { title, description, image = "/favicon.svg" } = Astro.props;
---

<html>
  <head>
    <BaseHead title={title} description={description} />
  </head>
    <Header />
    <Footer />
  </body>
</html>
