---
// src/layouts/BaseLayout.astro
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title, description, image = "/favicon.svg" } = Astro.props;
---

<html>
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
